<html>
    <head>
        <title>Read Page</title>
    </head>
    <body>
        <form>
            <select name = "select_read_file">
                <option value = "all", selected>All
                    <a href = "url_for{{('read_all')}}" method = "GET"></a>
                </option>
                <option value = "female">Female
                    <a href = "url_for{{('read_female')}}" method = "GET"></a>
                </option>
                <option value = "male">Male
                    <a href = "url_for{{('read_male')}}" method = "GET"></a>
                </option>
            </select>
            <input type = "submit" name = "name" value = "선택">
        </form>
    </body>
</html>